<header class="header">
	<div class="container">
		<a href="/" class="logo">
			{% include '_includes/icon.twig' %}
			Telemetry
		</a>

		{% set searchSmall = true %}
		{% set searchValue = plugin ? plugin.handle %}
		{% include '_includes/search.twig' %}
	</div>
</header>
